<footer id="footer" class="d-flex-column text-center" style="background-color: #0b8be6">
  <hr class="mt-0">

  <div class="text-center">
    Copyright
    <script>
      document.write(new Date().getFullYear())
    </script> <a target="_blank" ></a> | Wiki Maps @ TRY Inc
  </div>
</footer>
