.home-title {
  font-size: x-large;
  display: flex;
  margin-left: 3em;
  margin-top: 3em;

}


.login-form {
  font-size: large;
  margin-top: 3em;
}

.login-button {
  display: flex;
  margin-left: 15.59em;
  margin-top: 2em;
}
