.home-title {
  display: flex;
  justify-content: center;
  margin-top: 7em;
  margin-bottom: 5em;

}

.map-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.card {
  padding-left: 0px;
  padding-right: 0px;
}

.btn {
  display: flex;
  align-items: center;
}

.mapbuttons {
  display: flex;
  justify-content: space-between;
}

.heart-container {
  padding: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,.1);
  border-radius: 80px;
}

.heart-container i {
  font-size: 1.5em;
}

.heart-container:hover i {
  color: #f50057;
}


.fas {
  color: #f50057;
}



